
.scoreboard_conteiner{
    margin: 4% auto;
    #scoreboard_result{
        font-size: 28px;
        margin: 8%;
    }
    #gamer1{
        float: left;
        margin-left: 4%;
        margin-top: -4%;
        font-size: 73%;
        }
    #gamer2{
        float: right;
        margin-right: 4%;
        margin-top: -4%;
        font-size: 73%;
    }
    @media screen and (min-width: 400px){
        
    }

}
